body {
  font-family: "Writeon", cursive;
  font-size: 14pt;

  width: 4in;
  height: 4in;
  margin-left: auto;
  margin-right: auto;
}

.date {
  text-align: right;
}

@page {
  size: 4in 6in;
  margin:5mm;
}
